@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.mt-20{
    margin-top: 20px;
}
.accordion{
    background: rgba(231, 231, 231, 0.671);
    background: linear-gradient(to top,rgba(153, 153, 153, 0.24),#efefef,rgba(153, 153, 153, 0.24));
    color: #333;
    cursor: pointer;
    padding:18px 10px;
    width: 100%;
    text-align: left;
   font-size: 18px;
   line-height: 1.5;
   border-radius: 5px;
   border: 1px solid #F76C28;
   font-weight: 500;
   margin-bottom: 5px;
   text-shadow: 0 0 2px rgba(255, 255, 255, 0.938);
}

.accordion::after{
    content: '';
    right: 15px;
    background: url(../img/arrow_down.webp);
    background-repeat: no-repeat;
    position: absolute;
    height: 24px;
    width: 38px;
 }
.active::after{
    content: '';
    right: 15px;
    background: url(../img/arrow_up.webp);
    background-repeat: no-repeat;
    position: absolute;
    height: 24px;
    width: 38px;
} 

div.panel {
    display: none;
}

div.panel.show {
    display: block !important;
}
.top-tricks-list-item {
    background: rgba(185, 181, 181, 0.356);
}
.top-tricks-list-item .tricks-list{
    padding: 15px;
    list-style: none;
}
.top-tricks-list-item .tricks-list li{ 
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.4;
}
.panel-header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(185, 181, 181, 0.356);
    font-size: 15px;
}